body {
    margin: 0;
    padding: 0;
    background-color: rgb(233, 223, 223);
}


/* start  hrader section */

.header-section {
    display: flex;
}

.header-left {
    width: 90%;
    padding: 10%;
}

.header {
    border-left: 8px solid rgb(230, 101, 101);
    border-radius: 30px;
    position: relative;
}

h1 {
    font-size: 60px;
    padding-left: 15px;
    letter-spacing: 1px;
}

span {
    color: rgba(113, 43, 145, 0.986);
}

a {
    padding: 15px 30px;
    background-color: rgb(25, 161, 93);
    border-radius: 8px;
    color: aliceblue;
    text-decoration: none;
    position: absolute;
    margin-top: 10px;
    font-size: 20px;
}

.scroll {
    position: absolute;
    margin-top: 85px;
}

p {
    font-size: 20px;
    color: rgba(214, 179, 24, 0.966);
    letter-spacing: 1px;
}

.header-right img {
    width: 80%;
}


/* end  header section */


/*  start  card section */

.card {
    height: 350px;
    width: 27%;
    margin: auto;
    padding: 10px 10px 15px 10px;
    border: 10px solid transparent;
    border-radius: 10px;
    box-shadow: 20px 20px 5px rgb(206, 197, 197);
}

.card img {
    height: 45%;
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.card h2 {
    text-align: center;
    font-size: 35px;
}


/* end card  section */


/* start  develop section */

.develop-section {
    display: flex;
    margin: 15% 10%;
}

.develop-section img {
    width: 80%;
    margin-top: 15%;
}

.develop-section .develop-wriiten {
    width: 170%;
}


/* end  develop section */


/* start skill section */

.my-skill {
    height: 100%;
    width: 30%;
    padding: 35px 10px;
    border-radius: 15px;
    margin: 5% 3%;
    box-shadow: 5px 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.my-skill img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
    border-radius: 20px;
    box-shadow: 5px 2px 4px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.my-skill h3 {
    color: rgb(29, 29, 28);
    text-align: center;
    font-size: 30px;
}

.my-skill p {
    color: black;
    text-align: center;
    font-size: 20px;
}


/* end skill section */


/* start footer section */

.footer-section {
    background-color: black;
    padding: 20px;
    align-items: center;
}

.footer-section h1 {
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-section p {
    text-align: center;
    color: white;
    letter-spacing: 2px;
}