body {
    margin: 0;
    padding: 0;
    background-color: rgb(233, 223, 223);
    box-sizing: border-box;
}

.header-section {
    display: flex;
}

.header-left {
    width: 90%;
    padding: 10%;
}

.header {
    border-left: 8px solid rgb(230, 101, 101);
    border-radius: 30px;
    position: relative;
}

h1 {
    font-size: 60px;
    padding-left: 15px;
    letter-spacing: 1px;
}

span {
    color: rgba(113, 43, 145, 0.986);
}

a {
    padding: 15px 30px;
    background-color: rgb(25, 161, 93);
    border-radius: 8px;
    color: aliceblue;
    text-decoration: none;
    position: absolute;
    margin-top: 10px;
    font-size: 20px;
}

.scroll {
    position: absolute;
    margin-top: 85px;
}

p {
    font-size: 20px;
    color: rgba(214, 179, 24, 0.966);
    letter-spacing: 1px;
}

.header-right img {
    width: 80%;
}

.card {
    height: 350px;
    width: 27%;
    margin: auto;
    padding: 10px 10px 15px 10px;
    border: 10px solid transparent;
    border-radius: 10px;
    box-shadow: 20px 20px 5px rgb(206, 197, 197);
}

.card img {
    height: 40%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.card h2 {
    text-align: center;
    font-size: 35px;
}